:root {
    --main-bg-colour: #282633;
    --main-fg-colour: #fff;
}

/**
 * GENERIC CLASSES
 */

/**
 * OBJECTS
 */
#sidebar {
    background-color: var(--main-bg-colour);
    color: white;
    width: 200px;
    position: fixed;
    height: 100%;
    border-right: 1px solid #e8e8e8;
}
#sidebar > ul li {
    padding: 0.5em;
}
#sidebar > ul li > a:hover {
    color: powderblue;
}
#content-container {
    background-color: var(--main-bg-colour);
    color: var(--main-fg-colour);
    margin-left: 12.5em;
    padding: 0.5em;
    min-height: 100vh;
}
#content-container > h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
}

/**
 * ELEMENT STYLING
 */
input[type="text"] {
    color: var(--main-bg-colour)
}