name: master

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:

  tests:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Builds and Starts
        run: |
          docker-compose up -d
          docker-compose exec -T drash bash -c "/root/.deno/bin/nessie migrate && /root/.deno/bin/nessie seed"

      - name: Run Integration Tests
        run: |
          docker exec realworld_drash deno test -A --unstable tests/integration

  linter:
      # Only one OS is required since fmt is cross platform
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install Deno
        uses: denolib/setup-deno@master

      - name: Formatter
        run: deno fmt --check --ignore='src/public,src/vue,src/package.json,src/webpack.config.js'

      - name: Linter
        run: deno lint --ignore='src/public,src/vue,src/package.json,src/webpack.config.js'
